html { position: relative; margin: 0; padding: 0; height: 100%; }
body { margin: 0; padding: 0; text-align: start; height: 100%; }
#imPageExtContainer { min-height: 100%; }
#imPageIntContainer { position: relative;}
#imPage { position: relative; width: 100%; }
#imHeaderBg { position: absolute; inset-inline-start: 0px; top: 0; width: 100%; }
#imContent { position: relative; overflow-x: clip; }
#imFooterBg { position: absolute; inset-inline-start: 0px; bottom: 0; width: 100%; }
#imStickyBarContainer { visibility: hidden; position: fixed; overflow: hidden; }
#imPageToTop { position: fixed; bottom: 30px; inset-inline-end: 30px; z-index: 100500; display: none; opacity: 0.75 }
#imPageToTop:hover { opacity: 1; cursor: pointer; }
@media (min-width: 1150.0px) {
		#imPageExtContainer { background-image: none; background-color: rgba(203, 203, 203, 1); z-index: 0; position: relative; }
		#imPage { padding-top: 0px; padding-bottom: 0px; min-width: 1150px; }
		#imHeaderBg { height: 90px; background-image: none; background-color: rgba(0, 0, 0, 1); }
		#imHeader { background-image: none; background-color: transparent; }
		#imHeaderObjects { margin-inline-start: auto; margin-inline-end: auto; position: relative; height: 90px; width:1150px; }
		#imContent { align-self: start; padding: 0px 0 0px 0; }
		#imContentGraphics { min-height: 600px; background-image: none; background-color: rgba(255, 255, 255, 1); }
		#imFooterBg { z-index: -1; height: 456px; background-image: none; background-color: rgba(0, 0, 0, 1); }
		#imFooter {  background-image: none; background-color: transparent; }
		#imFooterObjects { margin-inline-start: auto; margin-inline-end: auto; position: relative; height: 300px; width:1150px; }
		#imSideBar { background-image: none; background-color: rgba(211, 218, 220, 1); overflow: visible; zoom: 1; z-index: 200; }
		#imSideBarObjects { position: relative; height: 600px; }
	
}
@media (max-width: 1149.9px) and (min-width: 720.0px) {
		#imPageExtContainer { background-image: none; background-color: rgba(203, 203, 203, 1); z-index: 0; position: relative; }
		#imPage { padding-top: 0px; padding-bottom: 0px; min-width: 720px; }
		#imHeaderBg { height: 90px; background-image: none; background-color: rgba(0, 0, 0, 1); }
		#imHeader { background-image: none; background-color: transparent; }
		#imHeaderObjects { margin-inline-start: auto; margin-inline-end: auto; position: relative; height: 90px; width:720px; }
		#imContent { align-self: start; padding: 0px 0 0px 0; }
		#imContentGraphics { min-height: 600px; background-image: none; background-color: rgba(255, 255, 255, 1); }
		#imFooterBg { z-index: -1; height: 456px; background-image: none; background-color: rgba(0, 0, 0, 1); }
		#imFooter {  background-image: none; background-color: transparent; }
		#imFooterObjects { margin-inline-start: auto; margin-inline-end: auto; position: relative; height: 300px; width:720px; }
		#imSideBar { background-image: none; background-color: rgba(211, 218, 220, 1); overflow: visible; zoom: 1; z-index: 200; }
		#imSideBarObjects { position: relative; height: 600px; }
	
}
@media (max-width: 719.9px) and (min-width: 480.0px) {
		#imPageExtContainer { background-image: none; background-color: rgba(203, 203, 203, 1); z-index: 0; position: relative; }
		#imPage { padding-top: 0px; padding-bottom: 0px; min-width: 480px; }
		#imHeaderBg { height: 90px; background-image: none; background-color: rgba(0, 0, 0, 1); }
		#imHeader { background-image: none; background-color: transparent; }
		#imHeaderObjects { margin-inline-start: auto; margin-inline-end: auto; position: relative; height: 90px; width:480px; }
		#imContent { align-self: start; padding: 0px 0 0px 0; }
		#imContentGraphics { min-height: 600px; background-image: none; background-color: rgba(255, 255, 255, 1); }
		#imFooterBg { z-index: -1; height: 456px; background-image: none; background-color: rgba(0, 0, 0, 1); }
		#imFooter {  background-image: none; background-color: transparent; }
		#imFooterObjects { margin-inline-start: auto; margin-inline-end: auto; position: relative; height: 300px; width:480px; }
		#imSideBar { background-image: none; background-color: rgba(211, 218, 220, 1); overflow: visible; zoom: 1; z-index: 200; }
		#imSideBarObjects { position: relative; height: 600px; }
	
}
@media (max-width: 479.9px)  {
		#imPageExtContainer { background-image: none; background-color: rgba(203, 203, 203, 1); z-index: 0; position: relative; }
		#imPage { padding-top: 0px; padding-bottom: 0px; }
		#imHeaderBg { height: 90px; background-image: none; background-color: rgba(0, 0, 0, 1); }
		#imHeader { background-image: none; background-color: transparent; }
		#imHeaderObjects { margin-inline-start: auto; margin-inline-end: auto; position: relative; height: 90px; width:320px; }
		#imContent { align-self: start; padding: 0px 0 0px 0; }
		#imContentGraphics { min-height: 600px; background-image: none; background-color: rgba(255, 255, 255, 1); }
		#imFooterBg { z-index: -1; height: 456px; background-image: none; background-color: rgba(0, 0, 0, 1); }
		#imFooter {  background-image: none; background-color: transparent; }
		#imFooterObjects { margin-inline-start: auto; margin-inline-end: auto; position: relative; height: 300px; width:320px; }
		#imSideBar { background-image: none; background-color: rgba(211, 218, 220, 1); overflow: visible; zoom: 1; z-index: 200; }
		#imSideBarObjects { position: relative; height: 600px; }
	
}
